.header{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 2vw;
    border-radius: 1vw;
    margin: 1vw;
}

.header img {
    margin-right: 4vw;
    width: 6vw;
}

.header-menu{
    background-color: inherit;
    height: auto;
    width: auto;
    display: flex;
}

.header-menu a{
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    margin: 1.5vw;
}
.header-menu a:hover{
    color: aliceblue;
}